<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div id="theater_wrap">
	<div id="screen"></div>
	<div id="seats">
		<div class="row">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
		
		<div class="row">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
		
		<div class="row">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
		
		<div class="row">
			<div class="seat" style="visibility:hidden;"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
		
		<div class="row">
			<div class="seat" style="visibility:hidden;"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat" style="visibility:hidden;"></div>
			<div class="seat" style="visibility:hidden;"></div>
			
			<div class="seat" style="visibility:hidden;"></div>
			<div class="seat" style="visibility:hidden;"></div>
			<div class="seat" style="visibility:hidden;"></div>
		</div>
		
	</div>
</div>

</body>
</html>